package: @APP_NAME@
Section: net
version: @VERSION@
Depends: python3,python3-gi,python3-requests,libadwaita-1-0,gir1.2-notify
architecture: any
Maintainer: yuhldr <yuhldr@qq.com>
Homepage: https://github.com/ldrfy/@APP_NAME@
description: 一个非常好用的翻译软件，看文献的好帮手
Installed-Size: 18
