package: @APP_NAME@
Section: net
version: @VERSION@
Depends: python3,python3-gi,python3-requests,python3-cryptography
architecture: amd64
Maintainer: yuhldr <yuhldr@qq.com>
Homepage: https://github.com/yuhldr/@APP_NAME@
description: 一个非常好用的翻译软件，看文献的好帮手
Installed-Size: 18
